<div class="row new-post">
  <h2 class="new-post-title"><%= form_title %></h2>
</div>

<%= form_for(comment) do |f| %>
  <div><label for="body">Comment Name: </label></div>

  <div><%= f.text_field :body, placeholder: "OMG you're such a noob" %></div>
  <%= f.hidden_field :link_id, value: params.fetch(:link) %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <a class="waves-effect waves-light btn">
    <%= f.submit %>
  </a>

<% end %>
