<div class="waves-effect waves-light btn"><%= link_to "New Post", new_comment_path %></div>

<div class="row">
<% comments.each do |comment| %>
    <div class="comment-content-block-index">
      <div class="col 2">

        <small class="upvote"><%= link_to "Like", upvotes_path(comment_id: comment.id), method: :post %></small>

        <small class="vote_count"><%= (comment.upvotes_count) - (comment.downvotes_count) %></small>

        <small class="downvote"><%= link_to "Hate", downvotes_path(comment_id: comment.id), method: :post %></small>

      </div>
      <div class="col 10">
        <big class="comment-title"><%= link_to comment.title, comment %></big>
      </div>
    </div>
<% end %>
</div>

<div class="row">
  <div class="col 6 offset-6 page-button"><span class="flow-text"><%= paginate comments %></span></div>
</div>
