<div class="row sign-in-out-row">
  <div class="sign-in-out">
    <% if signed_in? %>
      <b class="welcome">Welcome <%= current_user.username %></b>
      <div><%= link_to "Sign out", sign_out_path, class: "waves-effect waves-light btn sign-out", method: :delete %></div>
    <% else %>
      <div><%= link_to "Sign Up", sign_up_path, class: "waves-effect waves-light btn sign-in", method: :post  %></div>
      <div><%= link_to "Sign In", sign_in_path, class: "waves-effect waves-light btn sign-in", method: :get  %></div>
    <% end %>
  </div>

  <div class="title">
    <div class="blueit"><%= link_to "Blueit", root_path %></div>
  </div>
</div>

<div class="row create-new-stuff-row">
  <div class="create-new-stuff">
    <a href=../r/new class="waves-effect waves-light btn new-board">New Board</a>
  </div>
  <div>
    <a href=../links/new class="waves-effect waves-light btn new-board">New Post</a>
  </div>
</div>
