<%= render '/shared/nav2.html.erb' %>
<div class="row new-post">
  <h2 class="new-post-title"><%= form_title %></h2>
</div>

<%= form_for(link) do |f| %>
  <div class="input-field col s12 select-box">
    <option value="" disabled selected>Select Board</option>
    <%= f.collection_select :board_id, Board.all, :id, :name, { prompt: "Choose a category" }, class: "browser-default" %>
  </div>

  <div>
    <div><label for="body">Post Name: </label></div>
    <div><%= f.text_field :title, placeholder: "Stop Writing Clickbait!!! Click Here to Find Out How!" %></div>
  </div>

  <a>
    <%= f.submit "Create Post", class: 'btn'%>
  </a>

<% end %>
