
  <div class="row">
    <p><%= link.title %></p>
    <div class="link-content-block-show">
      <div class="col 2">

        <small class="upvote"><%= link_to "Like", upvotes_path(link_id: link.id), method: :post %></small>

        <small class="vote_count"><%= (link.upvotes_count) - (link.downvotes_count) %></small>

        <small class="downvote"><%= link_to "Hate", downvotes_path(link_id: link.id), method: :post %></small>

      </div>


      <div class="col 10">
        <big class="link-title"><%= link.title %></big>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col 6 offset-6 page-button"><span class="flow-text"><%= link_to "Back", root_path %></span></div>
</div>
