<div class="row row-board-title">
  <div class="board-content-block-show">
    <div class="col 10 board-name-show">
      <div class="link-board-show"><%= board_link(board) %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="link-content-block-show">

    <div class="col 2 like-hate">
      <small class="upvote"><%= link_to "Like", upvotes_path(link_id: link.id), remote: true, method: :post %></small>
      <small class="vote_count"><%= (link.upvotes_count) - (link.downvotes_count) %></small>
      <small class="downvote"><%= link_to "Hate", downvotes_path(link_id: link.id), remote: true, method: :post %></small>
    </div>

    <div class="col 10">
      <big class="link-title-show"><%= link_to link.title, "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></big>
    </div>

  </div>
  <div class="inline-comment">

    <%= react_component("Comment", comment: comment, link: link, user: user) %>

  </div>
</div>


<div id="top-link">
  <div class="waves-effect waves-light btn toppity-top">Top Comment</div>
</div>

<div class="row">
  <div>
    <div>
      <% link.comments.group(:id).order("SUM(comment_upvotes_count - comment_downvotes_count) DESC").each do |comment| %>
        <div class="link-content-block-index">
          <div class="col 2 like-hate">

            <small class="upvote"><%= link_to "Like", comment_upvotes_path(comment_id: comment.id), remote: true, method: :post %></small>

            <small class="vote_count"><%= comment.comment_upvotes_count - comment.comment_downvotes_count %></small>

            <small class="downvote"><%= link_to "Hate", comment_downvotes_path(comment_id: comment.id), remote: true,  method: :post %></small>

          </div>

          <div class="col 10">
            <h6 class="link-title-show"><%= comment.body %></h6>
            <h6 class="sub-links">
              <sup><%= link_to "Share", "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></sup>
              <sup><%= link_to "Save", "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></sup>
              <sup><%= link_to "Hide", "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></sup>
              <sup><%= link_to "Report", "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></sup>
              <sup><%= link_to "Reply", new_comment_path(link: link.id) %></sup>
              <sup><%= react_component("Delete", comment: comment, comments: comments, link: link) %></sup>
              <sup class="time"> <%= "Posted #{distance_of_time_in_words(Time.now, comment.created_at)}" %></sup>
            </h6>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <a href=../ class="waves-effect waves-light btn">Back</a>
</div>
