
<div class="row">

  <div class="board-content-block-show">

    <div class="col 10 board-name-show">
      <div class="link-board-show"><%= link_to board.name, board, target: "_blank", rel: "nofollow" %></div>
    </div>

  </div>
</div>

<div class="row">
  <div>
    <div>
      <% links.each do |link| %>
        <div class="link-content-block-index">
          <div class="col 2 like-hate">

            <small class="upvote"><%= link_to "Like", upvotes_path(link_id: link.id), method: :post %></small>

            <small class="vote_count"><%= link.upvotes_count - link.downvotes_count %></small>

            <small class="downvote"><%= link_to "Hate", downvotes_path(link_id: link.id), method: :post %></small>

          </div>

          <div class="col 10">
            <big class="link-title"><%= link_to link.title, "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></big>
            <small class="board-title"><%= link_to board.name, board %></small>
            <h6>
              <sup><%= link_to pluralize(link.comments.count, 'Comment'), link %></sup>
              <sup><%= link_to "Share", "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></sup>
              <sup><%= link_to "Save", "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></sup>
              <sup><%= link_to "Hide", "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></sup>
              <sup><%= link_to "Report", "http://www.rubyonrails.org/", target: "_blank", rel: "nofollow" %></sup>
            </h6>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <a href=../ class="waves-effect waves-light btn">Back</a>
</div>
